<table>
    <tr>
        <td>Employee Name</td>
        <td>
            <input dojoType="dijit.form.TextBox" data-dojo-attach-point="pegawaiNameNode" id="${idPegawaiName}" value="${pegawaiName}" />
        </td>
    </tr>
    <tr>
        <td>Employee Address</td>
        <td>
            <input dojoType="dijit.form.TextBox" dojoAttachPoint="alamatNode" id="${idAlamat}" value="${alamat}">
        </td>
    </tr>
    <tr>
        <td>tanggal lahir</td>
        <td>
            <input dojoType="dijit.form.DateTextBox" dojoAttachPoint="tanggalNode" id="${idTgl}" value="${tanggal}">
        </td>
    </tr>
</table>
