<div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconNewPage" dojoAttachEvent="onClick: addAction" id="${idAddBtn}">${addBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconRemoveFormat" dojoAttachEvent="onClick: editAction" id="${idEditBtn}">${editBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconDelete" dojoAttachEvent="onClick: delAction" id="${idDelBtn}">${delBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconSave" dojoAttachEvent="onClick: saveAction" id="${idSaveBtn}">${saveBtn}</div>
  <div dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconCancel" dojoAttachEvent="onClick: cancelAction" id="${idCancelBtn}">${cancelBtn}</div>
</div>
